﻿@model Mec.Web.Website.Areas.Admin.ViewModels.TodoListModel

@{
    ViewBag.Title = "Index";
}

<h2>Todoリスト管理</h2>
<p>@Html.Display(Model.ProjectName)</p>
@Html.BeginForm("Import", "TodoListController")
{
    <input type="hidden" id="projectId" name="projectId" value=@Model.ProjectId />
    <input type="file" id="ExcelFile" name="ExcelFile" />
    <input type="submit" id="Import" name="Import" value="" />
}
<table border="1" title="公開">
    <tr>
        <th>日程</th>
        <th>日程表示名</th>
        <th>カテゴリ</th>
        <th>内容</th>
        <th>該当者</th>
        <th>備考</th>
    </tr>
    @foreach(var row in Model.DraftTodoList)
    {
        <tr>
            <td>@Html.DisplayFor(row.Date.Value.ToString("yyyy年MM月dd日")</td>
            <td>@Html.DisplayFor(row.DateLabel)</td>
            <td>@Html.DisplayFor(row.Category)</td>
            <td>@Html.DisplayFor(row.Content)</td>
            <td>@Html.DisplayFor(row.Target)</td>
            <td>@Html.DisplayFor(row.Description)</td>
        </tr>
    }
</table>
<table border="1" title="下書き">
    <tr>
        <th>日程</th>
        <th>日程表示名</th>
        <th>カテゴリ</th>
        <th>内容</th>
        <th>該当者</th>
        <th>備考</th>
    </tr>
    @foreach (var row in Model.DraftTodoList)
    {
        <tr>
            <td>@Html.DisplayFor(row.Date.Value.ToString("yyyy年MM月dd日")</td>
            <td>@Html.DisplayFor(row.DateLabel)</td>
            <td>@Html.DisplayFor(row.Category)</td>
            <td>@Html.DisplayFor(row.Content)</td>
            <td>@Html.DisplayFor(row.Target)</td>
            <td>@Html.DisplayFor(row.Description)</td>
        </tr>
    }
</table>
@Html.BeginForm("Export", "TodoListController")
{
<div style="margin:auto;width:auto"><input type="submit" value="エクスポート" style="" /></div>
}