﻿@model Mec.Web.Core.Model.Base.PageBase

<div class="fxb-section">
    <div class="fxb-container">
        <div class="pageHeader is-summary">
            <p class="_icon"><i class="icon-column"></i></p>
            <h1 class="_title">@Model.CategoryTitle</h1>
            <p class="_outline">@Model.CategoryLead</p>
        </div>
    </div>
</div>