﻿@model Mec.Web.Core.Model.Base.PageBase

<div class="fxb-section">
    <div class="fxb-container">
        <div class="pageHeader is-detail">
            <p class="_icon"><i class="icon-column"></i></p>
            <p class="_title">@Model.CategoryTitle</p>
        </div>
    </div>
</div>