﻿<footer class="l-globalFooter" style="background-color: #fff; padding: 1px 0;">
    <div class="siteNavigation" style="margin: 10px 10px 0;">
        <div class="_company">
            @Html.Sitecore().Placeholder("footer-grouplogo")
        </div>
    </div>
    <div class="footerNavigation" style="margin: 10px;">
        @Html.Sitecore().Placeholder("copyright")
    </div>
</footer>