﻿<header class="l-globalHeader" style="background-color: #fff; padding: 1px 0;">
    <div class="headerNavigation" style="margin: 10px;">
        <p class="_logo">
            @Html.Sitecore().Placeholder("header-logo")
        </p>
    </div>
</header>