﻿<footer class="l-globalFooter">
    <div class="fxb-section">
        <div class="fxb-container">
            <div class="siteNavigation">
                @Html.Sitecore().Placeholder("breadcrumb-area")
                @Html.Sitecore().Placeholder("rich-footer")
                @Html.Sitecore().Placeholder("footer-grouplogo")
            </div>
        </div>
    </div>
    <div class="fxb-section">
        <div class="fxb-container">
            <div class="footerNavigation">
                <p class="_logo">
                    @Html.Sitecore().Placeholder("footer-logo")
                </p>
                <div class="_other">
                    @Html.Sitecore().Placeholder("footer-navi")
                    @Html.Sitecore().Placeholder("copyright")
                </div>
            </div>
        </div>
    </div>
</footer>