﻿<header class="l-globalHeader">
    <div class="headerNavigation">
        @if (Sitecore.Context.Item.ID != Sitecore.Context.Database.GetItem(Sitecore.Context.Site.StartPath).ID)
        {
            <p class="_logo">
                @Html.Sitecore().Placeholder("header-logo")
            </p>
        }
        else
        {
            <h1 class="_logo">
                @Html.Sitecore().Placeholder("header-logo")
            </h1>
        }
        @Html.Sitecore().Placeholder("header-navi")
    </div>
    @Html.Sitecore().Rendering("/sitecore/layout/Renderings/Mec/Global/SmartphoneMenu")
</header>