﻿@model Mec.Web.Website.ViewModel.Global.SmartphoneMenuModel

<div class="globalNavigation">
    <ul class="_global">
        @foreach (var item in Model.Links)
        {
            <li>@item.LinkTag</li>
        }
    </ul>
    @Html.Sitecore().Placeholder("sp-links")
</div>