﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="gallery.ascx.cs" Inherits="ustora.layouts.ustora.modules.gallery" %>
<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Kernel" %>

<sc:Placeholder Key="GalleryContainer" runat="server" />