﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc.Presentation
@model RenderingModel

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @{ Html.RenderPartial("Meta", new Mec.Web.Core.Model.Base.PageBase(Sitecore.Context.Item)); }
    <meta name="viewport" content="width=1240">
    <link rel="icon" href="/common/images/favicon.ico">
    <link rel="apple-touch-icon" href="/common/images/apple-touch-icon.png">
    <link rel="stylesheet" href="/common/css/style-desktop.css">
    <title>@Html.Sitecore().Rendering("/sitecore/layout/Renderings/Mec/Title")</title>

    @Html.Sitecore().VisitorIdentification()
    @{ Html.RenderPartial("AnalyticsTag", new Mec.Web.Website.ViewModel.Shared.AnalyticsTagModel()); }
</head>
<body class="theme-desktop">
    <div class="l-overlay"></div>
    @Html.Sitecore().Rendering("/sitecore/layout/Renderings/Mec/Global/GlobalHeader")
    @Html.Sitecore().Placeholder("layout-type")
    @Html.Sitecore().Rendering("/sitecore/layout/Renderings/Mec/Global/GlobalFooter")
    <script src="/common/js/lib/vendor.js"></script>
    <script src="/common/js/style/app.js"></script>
    @Html.Sitecore().Rendering("/sitecore/layout/Renderings/Mec/Layout")
@{
    string s = string.Empty;
    var visit = Sitecore.Analytics.Tracker.Current;

    foreach (var profile in visit.Contact.BehaviorProfiles.Profiles)
    {
        foreach (var kv in profile.Scores)
        {
            s += kv.Key + ":" + kv.Value;
        }
    }
}
@Html.Raw(s)
</body>
</html>