﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc.Presentation
@model RenderingModel

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="shift_jis">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @{ Html.RenderPartial("Meta", new Mec.Web.Core.Model.Base.PageBase(Sitecore.Context.Item)); }
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/common/images/favicon.ico">
    <link rel="apple-touch-icon" href="/common/images/apple-touch-icon.png">
    <title>@Html.Sitecore().Rendering("/sitecore/layout/Renderings/Mec/Title")</title>
    @Html.Sitecore().VisitorIdentification()
    @{ Html.RenderPartial("AnalyticsTag", new Mec.Web.Website.ViewModel.Shared.AnalyticsTagModel()); }
</head>
<body style="background-color: #f5f7f7; color: #40474d; margin: 0;">
    @Html.Sitecore().Rendering("/sitecore/layout/Renderings/Mec/Global/FeaturephoneHeader")
    <hr class="l-border" style="border: none; border-bottom: 3px solid #ee1d37; margin: 0;">
    @Html.Sitecore().Placeholder("layout-type")
    <hr class="l-border" style="border: none; border-bottom: 3px solid #ee1d37; margin: 0;">
    @Html.Sitecore().Rendering("/sitecore/layout/Renderings/Mec/Global/FeaturephoneFooter")
    @Html.Sitecore().Rendering("/sitecore/layout/Renderings/Mec/Layout")
</body>
</html>