﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="two_columns.ascx.cs" Inherits="ustora.layouts.ustora.columns.two_columns" %>
<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Kernel" %>

two columns