﻿@model Lyzon.FlexibleBody.Core.Models.FlexibleBody.BlockListModel
<div class="fxb-col-12">
    <div class="grid-@Model.ColumnNumber">
        @foreach (var item in Model.LinkList)
        {
            <div class="_col">
                <div class="_col">
                    <div class="panel-@item.DesignType">
                        <h2 class="_title"><a href="@item.Link" target="@item.LinkTarget">@item.Title</a></h2>
                        @if (!string.IsNullOrEmpty(item.Image.ToString()))
                        {
                            <div class="_image">@item.Image</div>
                        }
                        @if (!string.IsNullOrEmpty(item.LeadText.ToString()))
                        {
                            <p class="_outline">@item.LeadText</p>
                        }
                        <p class="_link"><a href="@item.Link" target="@item.LinkTarget">@item.LinkText</a></p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>