﻿@model Lyzon.FlexibleBody.Core.Models.FlexibleBody.BlockListModel

<div class="fxb-col-12">
    <div class="grid-@Model.ColumnNumber">
        @foreach (var item in Model.LinkList)
        {
            <div class="_col">
                <a class="card-default" href="@item.Link" target="@item.LinkTarget">
                    @if (!string.IsNullOrEmpty(item.Image.ToString()))
                    {
                        <div class="_image">@item.Image</div>
                    }
                    <div class="_content">
                        <h3 class="_title">@item.Title</h3>
                        @if (!string.IsNullOrEmpty(item.LeadText.ToString()))
                        {
                            <p class="_outline">@item.LeadText</p>
                        }
                    </div>
                </a>
            </div>
        }
    </div>
</div>