﻿@model Lyzon.FlexibleBody.Core.Models.FlexibleBody.CustomHeadlineModel

<div class="fxb-col-12">
    @if (!string.IsNullOrEmpty(Model.CustomHeadline.H2Text.ToString()))
    {
        <h2>@Model.CustomHeadline.H2Text</h2>
    }
    @if (!string.IsNullOrEmpty(Model.CustomHeadline.H3Text.ToString()))
    {
        <h3>@Model.CustomHeadline.H3Text</h3>
    }
</div>

