﻿@model Lyzon.FlexibleBody.Areas.FlexibleBody.Models.FlexibleBodyModel
@using Lyzon.FlexibleBody.Core.Models.FlexibleBody;
@using Lyzon.CommonWebControl.Contracts;
@using Lyzon.FlexibleBody.Core.Contracts;

@foreach (var item in @Model.FlexibleBodies)
{
    <div class="fxb-section @item.SectionClass" id="@item.SamePageLinkID">
        <div class="fxb-container">
            <div class="fxb-row">
                @{
    string templateName = item.BodyItem.TemplateName;
    if (Model.RenderBodyItem(Html, item))
    {
        //skip
    }
    else if (templateName == "1column Contents")
    {
        Html.RenderPartial("ColumnContents", new ColumnContentsModel(item.BodyItem, 1));
    }
    else if (templateName == "1column FloatImage Contents")
    {
        Html.RenderPartial("FloatImageContents", new FloatImageContentsModel(item.BodyItem, 1));
    }
    else if (templateName == "2column Contents")
    {
        Html.RenderPartial("ColumnContents", new ColumnContentsModel(item.BodyItem, 2));
    }
    else if (templateName == "2column FloatImage Contents")
    {
        Html.RenderPartial("FloatImageContents", new FloatImageContentsModel(item.BodyItem, 2));
    }
    else if (templateName == "3column Contents")
    {
        Html.RenderPartial("ColumnContents", new ColumnContentsModel(item.BodyItem, 3));
    }
    else if (templateName == "4column Contents")
    {
        Html.RenderPartial("ColumnContents", new ColumnContentsModel(item.BodyItem, 4));
    }
    else if (templateName == "Custom Headline")
    {
        Html.RenderPartial("CustomHeadline", new Lyzon.FlexibleBody.Core.Models.FlexibleBody.CustomHeadlineModel(item.BodyItem));
    }
    else if (templateName == "Html")
    {
        Html.RenderPartial("Html", new HtmlModel(item.BodyItem));
    }
    else if (templateName == "Common Html Contents")
    {
        Html.RenderPartial("CommonHtmlContents", new CommonHtmlContentsModel(item.BodyItem));
    }
    else if (templateName == "Auto Link List")
    {
        ListTypeModel listTypeModel = new ListTypeModel(item.BodyItem);
        if (listTypeModel.ListType == BodySettingEnum.BodyListType.block_panel.ToString())
        {
            Html.RenderPartial("BlockPanelList", new BlockListModel(item.BodyItem, true));
        }
        else if (listTypeModel.ListType == BodySettingEnum.BodyListType.block_panel_link_text.ToString())
        {
            Html.RenderPartial("BlockPanelLinkTextList", new BlockListModel(item.BodyItem, true));
        }
        else if (listTypeModel.ListType == BodySettingEnum.BodyListType.block_card.ToString())
        {
            Html.RenderPartial("BlockCardList", new BlockListModel(item.BodyItem, true));
        }
        else if (listTypeModel.ListType == BodySettingEnum.BodyListType.list.ToString())
        {
            Html.RenderPartial("LinkList", new LinkListModel(item.BodyItem, true));
        }
        else if (listTypeModel.ListType == BodySettingEnum.BodyListType.inlinelist.ToString())
        {
            Html.RenderPartial("InlineList", new InlineListModel(item.BodyItem, true));
        }
    }
    else if (templateName == "Manual Link List")
    {
        ListTypeModel listTypeModel = new ListTypeModel(item.BodyItem);
        if (listTypeModel.ListType == BodySettingEnum.BodyListType.block_panel.ToString())
        {
            Html.RenderPartial("BlockPanelList", new BlockListModel(item.BodyItem, false));
        }
        else if (listTypeModel.ListType == BodySettingEnum.BodyListType.block_panel_link_text.ToString())
        {
            Html.RenderPartial("BlockPanelLinkTextList", new BlockListModel(item.BodyItem, false));
        }
        else if (listTypeModel.ListType == BodySettingEnum.BodyListType.block_card.ToString())
        {
            Html.RenderPartial("BlockCardList", new BlockListModel(item.BodyItem, false));
        }
        else if (listTypeModel.ListType == BodySettingEnum.BodyListType.list.ToString())
        {
            Html.RenderPartial("LinkList", new LinkListModel(item.BodyItem, false));
        }
        else if (listTypeModel.ListType == BodySettingEnum.BodyListType.inlinelist.ToString())
        {
            Html.RenderPartial("InlineList", new InlineListModel(item.BodyItem, false));
        }
    }
                }
            </div>
        </div>
    </div>
}