﻿@model Lyzon.FlexibleBody.Core.Models.FlexibleBody.FloatImageContentsModel

@foreach (var item in Model.Contents)
{
    <div class="@Model.FxbColumnClass"@item.TwoColumnWidth>
        @if (!string.IsNullOrEmpty(item.HeadLine.ToString()))
        {
            <h2>@item.HeadLine</h2>
        }
        @if (!string.IsNullOrEmpty(item.MidHeadText.ToString()))
        {
            <h3>@item.MidHeadText</h3>
        }
        @if (item.Image != null)
        {
            <figure class="@item.Image.PositionClass"@item.Image.PositionWidth>
                @item.Image.HtmlElement
                @if (!string.IsNullOrEmpty(item.Image.Caption.ToString()))
                {
                    <figcaption>@item.Image.Caption</figcaption>
                }
            </figure>
        }
        @item.BodyHtml
    </div>
}
