﻿@model Lyzon.FlexibleBody.Core.Models.FlexibleBody.LinkListModel

<div class="fxb-col-12">
    <ul class="list-grid-@Model.ColumnNumber">
        @foreach (var item in Model.LinkList)
        {
            <li>
                <a href="@item.Link" target="@item.LinkTarget">@item.Title</a>
            </li>
        }
    </ul>
</div>