﻿@model IEnumerable<Mec.Web.Core.Model.Base.PageBase>

<div class="row-3">
    @foreach (var item in Model)
    {
        <div class="col">
            <a class="card-cover" href="@item.Link.LinkUrl" target="@item.Link.LinkTarget">
                <div class="_image">
                    <div class="_cover">@Html.Raw(item.LeadImage.ImageTag)</div>
                </div>
                <div class="_content">
                    <p class="_title">@item.Title</p>
                </div>
            </a>
        </div>
    }
</div>