﻿@model IEnumerable<Mec.Web.Core.Model.Detail.CampaignDetail>

<div class="row-3">
    @foreach (var item in Model)
    {
        <div class="col">
            <a class="campaignCard" href="@item.Link.LinkUrl" target="@item.Link.LinkTarget">
                <div class="_image">
                    <div class="_cover">@Html.Raw(item.LeadImage.ImageTag)</div>
                </div>
                <div class="_content">
                    <p class="_title">@item.Title</p>
                    <dl class="_date">
                        <dt>@Mec.Web.Core.Constant.SettingItemValue.CampaignDateTitle</dt>
                        <dd><span>@item.DisplayHoldingDate</span></dd>
                    </dl>
                </div>
            </a>
        </div>
    }
</div>