﻿@model IEnumerable<Mec.Web.Core.Model.Detail.EventDetail>

<div class="row-3">
    @foreach (var item in Model)
    {
        <div class="col">
            <a class="eventCard" href="@item.Link.LinkUrl" target="@item.Link.LinkTarget" data-nd-status="event">
                <div class="_image">
                    <div class="_cover">@Html.Raw(item.LeadImage.ImageTag)</div>
                </div>
                <div class="_content">
                    <p class="_title">@item.Title</p>
                    <dl class="_date">
                        <dt>@Mec.Web.Core.Constant.SettingItemValue.EventDateTitle</dt>
                        <dd>@item.DisplayHoldingDate</dd>
                    </dl>
                    <ul class="_tag">
                        @foreach (var tag in item.Tags)
                        {
                            <li>@tag.Tag</li>
                        }
                    </ul>
                </div>
            </a>
        </div>
    }
</div>
