﻿@using Lyzon.SitecoreControl.Extensions
@model IEnumerable<Mec.Web.Core.Model.Base.PageBase>

<div class="_megamenu-inner">
    <ul class="_navigation">
        @foreach (var item in Model)
        {
            <li><a href="@item.Link.LinkUrl" target="@item.Link.LinkTarget" data-megamenu-inner-toggle="@item.ItemName">@item.Title</a></li>
        }
    </ul>
    @foreach (var item in Model)
    {
        <ul class="_content" data-megamenu-inner-content="@item.ItemName">
            @foreach (var child in Sitecore.Context.Database.GetItem(item.ItemId).GetChildItemList())
            {
                var childPage = new Mec.Web.Core.Model.Base.PageBase(child);
                <li><a href="@childPage.Link.LinkUrl" target="@childPage.Link.LinkTarget">@childPage.Title</a></li>
            }
        </ul>
    }
</div>