﻿@using Lyzon.SitecoreControl.Extensions
@model IEnumerable<Mec.Web.Website.ViewModel.Global.MegamenuModel>

<div class="globalNavigation">
    <ul class="_global">
        @foreach (var item in Model)
        {
            <li><a href="@item.SectionItem.Link.LinkUrl" target="@item.SectionItem.Link.LinkTarget" data-megamenu-toggle="@item.SectionItem.ItemName">@item.SectionItem.Title</a></li>
        }
    </ul>
    @foreach (var item in Model)
    {
        <div class="_megamenu" data-megamenu-content="@item.SectionItem.ItemName">
            <div class="_header">
                @item.SectionItem.MegaMenuDescription
            </div>
            <div class="_content">
                @{
                    if (item.SectionItem.MegaMenuType == "boxlist")
                    {
                        Html.RenderPartial("~/Views/Global/Megamenu/BoxList.cshtml", item.Children);
                    }
                    else if(item.SectionItem.MegaMenuType == "linklist")
                    {
                        Html.RenderPartial("~/Views/Global/Megamenu/LinkList.cshtml", item.Children);
                    }
                    else if (item.SectionItem.MegaMenuType == "eventlist")
                    {
                        Html.RenderPartial("~/Views/Global/Megamenu/EventList.cshtml", item.EventList);
                    }
                    else if (item.SectionItem.MegaMenuType == "campaignlist")
                    {
                        Html.RenderPartial("~/Views/Global/Megamenu/CampaignList.cshtml", item.CampaignList);
                    }
                    else if (item.SectionItem.MegaMenuType == "html")
                    {
                        Html.RenderPartial("~/Views/Global/Megamenu/Html.cshtml", item.SectionItem);
                    }
                }
            </div>
        </div>
    }
</div>
