﻿<main class="l-main" style="margin: 10px; padding: 1px 0;">
    <header class="l-pageHeader">
        @Html.Sitecore().Placeholder("title")
    </header>
    <article class="l-article">
        @Html.Sitecore().Placeholder("main")
    </article>
</main>