﻿<main class="l-main theme-single theme-detail">
    <header class="l-pageHeader">
        @Html.Sitecore().Placeholder("title")
    </header>
    <article class="l-article">
        @Html.Sitecore().Placeholder("content-top")
        @Html.Sitecore().Placeholder("main")
        @Html.Sitecore().Placeholder("content-end")
    </article>
</main>