﻿<main class="l-main theme-summary">
    <header class="l-pageHeader">
        @Html.Sitecore().Placeholder("title")
    </header>
    <article class="l-article">
        @Html.Sitecore().Placeholder("main")
    </article>
    <aside class="l-aside">
        @Html.Sitecore().Placeholder("side")
    </aside>
    @Html.Sitecore().Placeholder("additional-footer")
</main>