﻿<main class="l-main theme-multi theme-summary">
    <header class="l-pageHeader">
        @Html.Sitecore().Placeholder("title")
    </header>
    <article class="l-article">
        @Html.Sitecore().Placeholder("content-top")
        @Html.Sitecore().Placeholder("main")
        @Html.Sitecore().Placeholder("content-end")
    </article>
    <aside class="l-aside">
        @Html.Sitecore().Placeholder("side")
    </aside>
</main>